[Unit]
Description=RClone mount of Storage Box
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
	--vfs-cache-mode full \
	"storagebox:" "%h/Storage Box"
ExecStop=/bin/fusermount -u "%h/Storage Box"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
